---
import Layout from "../layouts/Layout.astro";
import Subpage from "../layouts/Subpage.astro";
import Project from "../components/project.astro";
import { Image } from "astro:assets";

import "../styles/global.css";
import bg1 from "../assets/bg1.png";
---

<Layout>
    <div class="w-full h-full">
        <!-- ===SUBPAGES===
        (would be seperate pages on most websites) -->
        <Subpage id="about-page" title="about me" closed="true">
            hey, thanks for visiting my website! i'm Mart, a 15-year-old
            high-schooler from The Netherlands. i absolutely LOVE coding – that
            is, at times. i code on and off, but i also love learning languages.
            i'm trying to be more consistent with coding, though, so i can build
            some big projects and stuff i'm passionate about and can show off.<br
            />

            i enjoyed computers and tech ever since i was a little kid. like
            most kids, i started off with playing some flash games and watching
            youtube, but soon i fixed the computer problems of my classmates and
            family. this wouldn't go unnoticed by my grandpa, who worked at some
            big software companies like AT&T when he was younger and he showed
            me Scratch. i liked it a lot and started making my own projects when
            i was seven.<br /><br />

            later, i learned some other programming languages like python,
            javascript and html/css. i made a few webpages and games with it,
            but mostly from tutorials and changing little things.<br />

            even later, i made a few websites for people, but these were made
            using wordpress. i also helped coding a bit with a discord bot and a
            game, which is how i rolled into coding actual projects instead of
            just tinkering around, which i did before when i mastered a language
            a bit. this was also the point where i learned git and github. <br
            />

            finally, i got an e-mail from Hack Club after signing up for GitHub
            Education to get some perks. first i thought it was only for very
            experienced coders and i was busy as well. luckily, i starred the
            email and later i had a friend who wanted a Thinkpad and remembered
            the email, which had a Thinkpad mention. <br /><br />

            the program (Arcade) didn't run anymore, but luckily there was
            another program in the winter! i signed up for that. the idea was
            that you would code projects (creative ones) and get prizes for
            them. this was when i started shipping scrappy projects and got the
            revelation that you don't have to code the next Google in order for
            your coding to be of importance. <br /><br />

            the rest? the rest is history.<br /><br />
            <i>
                wow thanks for reading all of this! i think my projects are even
                more interesting to see :) view them <button
                    id="projects"
                    class="nav-btn underline italic relative z-20 pointer-events-auto"
                    type="button">here</button
                >!
            </i>

            <!-- 88x31s -->
            <div class="flex flex-row gap-1">
                <img
                    src="https://cyber.dabamos.de/88x31/any2.gif"
                    alt="best viewed with any browser"
                />
                <img
                    src="https://cyber.dabamos.de/88x31/anythingbut.gif"
                    alt="Anything But Chrome"
                />
                <img
                    src="https://cyber.dabamos.de/88x31/besteyes2.gif"
                    alt="Best Viewed with Eyes"
                />
                <img
                    src="https://elijahjmears.com/_astro/poweredbyastro.AMx1GbNY_ZfahFC.gif"
                    alt="Powered by Astro"
                />
                <img
                    src="https://hex4.xyz/88x31/hackclub.png"
                    alt="Hack Club"
                />
                <img src="https://hex4.xyz/88x31/godot.png" alt="Godot" />
            </div>
        </Subpage>

        <Subpage id="projects-page" title="projects" closed="true">
            an opinionated list of some of my newer and more interesting
            projects. this list doesn't include even nearly everything i've
            made. my <a href="https://github.com/SwiftDust" class="underline"
                >GitHub readme</a
            > contains more projects. also check out my repositories! it won't be
            a pain to dig through it to find the interesting projects, because i always
            private irrelevant/unusable projects! aside from making big projects,
            i tinker around a lot with new languages and tools :) <br /><br />

            <p class="italic">
                like what you see and want to commission me? <a
                    href="mailto:me@m4rt.nl"
                    class="underline"
                    >shoot me an email @ me [at] m4rt [dot] nl</a
                >!
            </p>
            <div class="flex flex-wrap gap-4">
                <Project
                    id="m4rt-nl"
                    link="https://m4rt.nl"
                    github-link="https://github.com/SwiftDust/m4rt.nl"
                    title="m4rt.nl"
                    description="the website you're looking at right now! made with Astro. this is my second hosted website."
                    image="/m4rt.png"
                    status="Finished"
                    time="December 2025-January 2026"
                />
                <Project
                    id="drempal-revamped"
                    title="Drempal: Revamped"
                    link="https://swiftdust.itch.io/drempal-2"
                    github-link="https://github.com/SwiftDust/drempal"
                    description="game off 2025 project in Godot! it's a game where you dodge the asteroids. code by me, art by a friend"
                    image="https://img.itch.zone/aW1hZ2UvNDA4NDkyNy8yNDM0ODk0Mi5wbmc=/250x600/dE7fxE.png"
                    status="Finished"
                    time="November-December 2025"
                />
                <Project
                    id="doneer-m4rt-nl"
                    title="doneer.m4rt.nl"
                    link="https://doneer.m4rt.nl"
                    github-link="https://github.com/SwiftDust/doneer.m4rt.nl"
                    description="A website where you can donate to my SHIB (charity organization) journey to  South Africa, made with Astro"
                    image="https://github.com/SwiftDust/doneer.m4rt.nl/raw/main/static/image.png"
                    status="Finished"
                    time="July-October 2025"
                />
                <Project
                    id="studymate"
                    title="StudyMate"
                    link="https://github.com/SwiftDust/studymate/releases/tag/v0.1.4"
                    github-link="https://github.com/SwiftDust/studymate"
                    description="StudyMate is a small and cute pomodoro timer browser extension, written in WXT, Svelte and TypeScript."
                    image="https://github.com/SwiftDust/studymate/raw/main/static/studymate-v0.1.4-dark-mode.png"
                    status="Finished"
                    time="December 2024-April 2025"
                />
            </div>
        </Subpage>

        <!-- ===MAIN PAGE CONTENT=== -->
        <div
            class="flex flex-col h-full items-center justify-center align-middle"
        >
            <p
                class="text-sm text-black italic font-mono py-4"
                id="description"
            >
            </p>
            <Image
                src={bg1}
                alt="A background of a cityscape"
                class="absolute mr-120 mb-5 h-5/16 w-auto"
            />
            <div class="relative">
                <h1 class="text-8xl font-mono text-primary py-4">
                    <span>mart zielma</span><span class="relative"
                        >n
                        <div
                            class="sticker rotate-12 absolute -top-12 -right-96"
                        >
                            <div class="reveal circle_wrapper">
                                <div class="circle bg-white"></div>
                            </div>

                            <div class="sticky">
                                <div class="front circle_wrapper">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="sticky anim750">
                                <div class="back circle_wrapper anim750">
                                    <div class="circle anim750"></div>
                                </div>
                            </div>
                        </div>
                    </span>
                </h1>
            </div>
            <p class="text-black font-serif py-4 -mt-20">
                <button
                    id="about"
                    class="nav-btn underline italic relative z-20 pointer-events-auto"
                    type="button">about me</button
                >
                ·
                <button
                    id="projects"
                    class="nav-btn underline italic relative z-20 pointer-events-auto"
                    type="button">projects</button
                >
                ·
                <!--<button
                    id="blog"
                    class="nav-btn underline italic relative z-20 pointer-events-auto"
                    type="button">blog</button
                >
                ·-->
                <a href="mailto:me@m4rt.nl" class="underline italic">contact</a>
            </p>

            <div class="flex flex-row gap-4">
                <a
                    class="icon-[pixel--linkedin] h-8 w-8"
                    href="https://www.linkedin.com/in/mart-zielman/"></a>
                <a
                    class="icon-[pixel--x] h-8 w-8"
                    href="https://x.com/SwiftDust10"></a>
                <a
                    class="icon-[pixel--github] h-8 w-8"
                    href="https://github.com/SwiftDust"></a>
                <button
                    class="icon-[pixel--discord] h-8 w-8"
                    data-tooltip-target="tooltip-default"
                >
                </button>
                <div
                    id="tooltip-default"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
                >
                    @m_0342sa
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <a
                    class="icon-[fa7-brands--itch-io] h-8 w-8"
                    href="https://swiftdust.itch.io"></a>
            </div>
        </div>
    </div>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const strings = [
            "professional idiot",
            "maker™",
            "addicted to mountainbiking & caffeine",
            "sleep deprived",
            "web and game developer",
            "refresh me for some fun stuff :)",
        ];

        let string = strings[Math.floor(Math.random() * strings.length)];

        const element = document.getElementById("description");
        if (element) {
            element.innerText = string;
        }
    });

    const navButtons = document.querySelectorAll(".nav-btn");

    for (const btn of navButtons) {
        btn.addEventListener("click", function (event) {
            event.preventDefault();
            const id = btn.getAttribute("id");
            if (!id) return;
            if (typeof window.openSubpage === "function") {
                window.openSubpage(`${id}-page`);
                return;
            }

            const subpage = document.getElementById(`${id}-page`);
            if (!subpage) return;
            subpage.classList.remove("is-closing");
            subpage.classList.remove("is-hidden");
            subpage.classList.add("is-visible");
        });
    }
</script>
